.place-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 4px;
}

.place-name {
  font-size: 16px;
  color: var(--color-on-surface);
}

.place-address {
  font-size: 12px;
  color: var(--color-outline);
}
