.left-panel-container {
  width: 450px;
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100%;
  height: 100vh;
  gap: 16px;
  background-color: var(--color-surface);
}

.content {
  flex: 1;
  overflow-y: auto;
  padding: 0 8px;
}

.logo {
  height: 35px;
  margin-right: 8px;
}

.footer-link {
  font-size: 6px;
  color: var(--color-on-surface);
}

.back-arrow {
  height: 20px;
  margin-right: 8px;

  &:hover {
    cursor: pointer;
  }
}
