.left-panel-container {
  width: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
  min-height: 100%;
  gap: 16px;
}

.content {
  flex: 1;
}

.logo {
  height: 35px;
  margin-right: 8px;
}

.footer-link {
  font-size: 6px;
  color: var(--color-on-surface);
}
