body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --color-secondary-container: #d2e5f4;
  --color-surface: #f6fafe;
  --color-on-surface: #181c1f;
  --color-outline: #71787e;
  --color-outline-variant: #c1c7ce;
  --color-surface-container-highest: #dfe3e7;
  --color-surface-container-high: #e5e8ed;
  --color-surface-container: #ebeef3;
  --color-surface-container-low: #f0f4f8;
  --color-surface-container-lowest: #fff;
}
